<div class="container container-custom">
  <div class="row" sfInfiniteScroll (scrolled)="onScrollBottom()">
    <ng-container *ngFor="let user of userList">
      <div class="col-3 mb-4 px-2">
        <sf-user-card [user]="user"></sf-user-card>
      </div>
    </ng-container>
  </div>
</div>
