<ng-container *ngIf="user">
  <a [routerLink]="['/user', user.id]" class="card text-decoration-none">
    <img [src]="user.imageUrl + '?v=' + user.id" class="card-img-top" />
    <div class="card-body p-2">
      <h5 class="card-title text-dark fs-6 mb-1">
        {{ user.prefix }} {{ user.name }} {{ user.lastName }}
      </h5>
      <span class="card-text text-dark fs-6 mb-1">
        {{ user.title }}
      </span>
    </div>
  </a>
</ng-container>
