<div class="container container-custom rounded border py-4">
  <div class="d-flex align-items-center justify-content-between" *ngIf="user">
    <div class="col-3 pl-0 pr-2">
      <img
        class="w-100"
        style="height: 200px"
        alt=""
        [src]="user.imageUrl + '?v=' + user.id"
      />
    </div>
    <div class="col-7">
      <div class="border rounded d-flex flex-column pt-3 pb-2 px-3">
        <div
          class="position-absolute bg-white px-1 text-center px-1"
          style="top: -12px"
        >
          info
        </div>
        <span class="font-weight-bold"
          >{{ user.prefix }} {{ user.name }} {{ user.lastName }}
        </span>
        <span class="pb-3 font-italic">{{ user.title }}</span>

        <span class="text-decoration-underline">Email: {{ user.email }} </span>
        <span>Ip Address: {{ user.ip }}</span>
        <span>Job Area: {{ user.jobArea }}</span>
        <span>Job Type: {{ user.jobType }}</span>
      </div>
    </div>

    <div class="border rounded col-2 d-flex flex-column py-3">
      <div
        class="position-absolute bg-white px-1 text-center px-1"
        style="top: -12px"
      >
        Address
      </div>
      <span class="font-weight-bold"
        >{{ user.company.name }} {{ user.company.suffix }}</span
      >
      <span>City: {{ user.address.city }}</span>
      <span>Country: {{ user.address.country }}</span>
      <span>State: {{ user.address.state }}</span>
      <span>Street Address: {{ user.address.streetAddress }}</span>
      <span>ZIP: {{ user.address.zipCode }}</span>
    </div>
  </div>

  <nav class="pt-3">
    <ol class="breadcrumb bg-white">
      <ng-container *ngFor="let breadcrumb of breadcrumbs">
        <li class="breadcrumb-item bg-white">
          <a [routerLink]="['/user', breadcrumb.id]">{{ breadcrumb.title }}</a>
        </li>
      </ng-container>
    </ol>
  </nav>

  <div class="h4 font-weight-bold pt-5 mt-5">Friends:</div>

  <div class="row" sfInfiniteScroll (scrolled)="onScrollBottom()">
    <ng-container *ngFor="let user of friendList">
      <div class="col-3 mb-4 px-2">
        <sf-user-card [user]="user"></sf-user-card>
      </div>
    </ng-container>
  </div>
</div>
