@import "node_modules/bootstrap-scss/bootstrap.scss";
html,
body {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.cursor-pointer {
  cursor: pointer;
}
.container-custom {
  max-width: 1200px;
}
